*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "actor";
    src: url(../Fonts/Actor-Regular.ttf);
}
@font-face{
    font-family: "notoSans";
    src: url(../Fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: "RussoOne";
    src: url(../Fonts/RussoOne-Regular.ttf);
}
@font-face{
    font-family: "inter";
    src: url(../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html{
    scroll-behavior: smooth;
}
:root{
    --green:#96C6C7;
    /* --green:#266150; */
    --black:#000000;
    --white:#FFFFFF;
}
.container{
    max-width: 1200px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}
.fa-phone{
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--green);
    background: none;
}

.fa{
    cursor: pointer;
}
.fa-search{
    cursor: pointer;
    color: var(--green);
    font-size: 18px;
}
.fa-shopping-cart{
    cursor: pointer;
    color: var(--green);
    font-size: 18px;
}



