*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "actor";
    src: url(../Fonts/Actor-Regular.ttf);
}
@font-face{
    font-family: "notoSans";
    src: url(../Fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: "RussoOne";
    src: url(../Fonts/RussoOne-Regular.ttf);
}
@font-face{
    font-family: "inter";
    src: url(../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}
body{
    /* background: rgba(128, 128, 128, 0.223); */
    background:#96c6c753;
}
html{
    scroll-behavior: smooth;
}
:root{
    --green:#266150;
    --black:#000000;
    --white:#FFFFFF;
}
.container{
    max-width: 1200px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}
.header_container{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo_title{
    font-family: "notoSans";
    font-size: 25px;
    color: var(--green);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.fa-phone{
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--green);
    background: none;
}
.nav_title{
    cursor: pointer;
    font-family: "notoSans";
    color: var(--green);
    font-size: 16px;
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav_link{
    text-decoration: none;
    color: var(--green);
}
.nav_link:hover{
    color: var(--black);
}
.icon_fa{
    width: 80px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.fa-search{
    cursor: pointer;
    color: var(--green);
    font-size: 18px;
}
.fa-shopping-cart{
    cursor: pointer;
    color: var(--green);
    font-size: 18px;
}
.mangal_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.mangal_title{
    color: var(--black);
    font-family: "RussoOne";
    font-size: clamp(30px,16vw,227px);
    letter-spacing: 3px;
    font-weight: 400;
    line-height: clamp(30px,13vw,170px);
    /* border: 1px solid; */
}
.mangal_title2{
    color: var(--green);
    font-family: "actor";
    font-size: clamp(30px,4vw,60px);
    line-height: clamp(30px,3vw,50px);
    text-align: center;
}
.bacground_img{
    background-image: url(../Begraound/header\ pic.png);
    background-position: center;
    background-size: cover;
    border: 1px solid;
    /* width: 1169px; */
    height: 374px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bacground_btn{
    cursor: pointer;
    font-family: "notoSans";
    /* padding: 14px 467px; */
    max-width: 1087px;
    min-width: 330px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--white);
    color: var(--green);
    margin-bottom: 35px;
    font-size: 16px;
}
.bacground_btn:hover{
    background: var(--green);
    color: var(--white);
}
.nav_item{
    position: relative;
}

.category_list{
    position: absolute;
    width:323px ;
    height:302px ;
    background: var(--green);
    visibility: hidden;  /*display-none*/
    opacity: 0;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.nav_item:hover .category_list{
    visibility: visible;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    /* margin-top: 8px; */
    border-radius: 7px;
}
.category_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    /* gap: 15px; */
    padding: 16px 0;
    padding-left: 16px;
}
.category_link{
    font-family: "inter";
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
}
.category_link:hover {
    border-bottom: 1px solid;
    color: var(--black);
}

.section2{
    width: 100%;
    height: 973px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.section_category{
    width: 268px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    margin-top: 110px;
}
.section_title{
    font-family: "notoSans";
    font-size: 48px;
    color: var(--green);
}
/* .section_btn{
    width: 100%;
    height: 107px;
    border: 1px solid;
    font-family: "notoSans";
    font-size: 48px;
} */
.section_list{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.section_link{
    font-family: "notoSans";
    text-decoration: none;
    color: var(--black);
    font-size: clamp(20px,4vw,48px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.section_item{
    width: 100%;
    height: 111px;
    border-bottom: 3px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.section_item:hover {
    background: var(--green);
}
.section_item:hover .section_link {
    color: var(--white);
}
.link_img1{
    width: 183px;
    height: 253px;
    border: 1px solid;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    /* transform: translateX(-50%); */
}
.link_img2{
    width: 183px;
    height: 253px;
    border: 1px solid;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 50%;

    /* transform: translateX(-50%); */
}
@media (min-width:993px){

    .section_item:hover .link_img1{
        visibility: visible;
        opacity: 1;
        transform: rotate(-20deg);
        left: 83px;
        transform-origin:left bottom;
        background: var(--white);
        transition: .5s;
    
    }
    .section_item:hover .link_img2{
        visibility: visible;
        opacity: 1;
        transform:rotate(20deg);     
        right: 83px;
        transform-origin:right bottom;
        background: var(--white);
        transition: .5s;
    
    }
}

.section3{
    width: 100%;
    height: 554px;
    display: flex;
    flex-direction: column;
    margin-top: 230px;
    gap: 30px;
}
.section3_category{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section3_title{
    font-family: "notoSans";
    font-size: 48px;
    color: var(--green);
}
.section3_link{
    font-family: "notoSans";
    font-size: 24px;
    color: var(--green);
}
.section3_tesak{
    width: 100%;
    height: 459px;
    display: flex;
    justify-content: space-between;
}
.section3_mec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section3_poqr{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.mec_img{
    width: 370px;
    max-width: 370px;
    min-width: 150px;
    height: 379px;
    background: gray;   
    cursor: pointer;
}
.poqr_img{
    max-width: 170px;
    min-width: 150px;
    width: 170px;
    height: 174px;
    background: gray;
    cursor: pointer;
}
.mec_title{
    font-family: "notoSans";
    font-size: 20px;
    color: var(--black);
    cursor: pointer;
}
.mec_list{
    text-decoration: none;
}
.mec_list:hover{
    color: var(--green);
    text-decoration: underline;
}
.poqr_title{
    font-family: "notoSans";
    font-size: 12px;
    color: var(--black);
    cursor: pointer;
}
.mec_text{
    font-family: "notoSans";
    font-size: 24px;
    color: var(--green);
    cursor: pointer;
}
.poqr_text{
    font-family: "notoSans";
    font-size: 24px;
    color: var(--green);
    cursor: pointer;
}
.section4{
    margin-top: 70px;
    background: var(--green);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    justify-content: space-between;
}
.section4_container{
    height: 551px;
    display: flex;
    flex-direction: column;
}
.section4_category{
    width: 905px;
    height: 98px;
}
.section4_category2{
    width: 800px;
    height: 98px;
    margin-left: 400px;
}
.section4_title{
    font-family: "notoSans";
    font-size: 36px;
    color: var(--white);
}
.section4_form{
    width: 570px;
    height: 222px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 400px;
    margin-top: 54px;
}
.input_text{
    height: 50px;
    padding: 22px 14px;
    background: none;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
    color: var(--white);
}
.input_text::placeholder{
color: var(--white);
}
/* .input_text:active{
    border: none;
} */
.input_phone{
    height: 50px;
    padding: 22px 14px;
    background: none;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
    color: var(--white);
}
.input_phone::placeholder{
    color: var(--white);
}
.input_submit{
    height: 50px;
    border-radius: 10px;
    color: var(--green);
    border: none;
    margin-top: 29px;
    cursor: pointer;
}
.input_submit:hover{
    background: var(--black);
    color: var(--white);
}
.section5{
    margin-top: 127px;
}
.section5_container{
    height: 465px;
    display: flex;
    flex-direction: column;
}
.section5_fafa{
    width: 192px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa{
    cursor: pointer;
}
.section5_category{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section5_category2{
    width: 100%;
    height: 368px;
    display: flex;
    justify-content: space-between;
}
.section5_title{
    font-family: "notoSans";
    font-size: 48px;
    color: var(--green);
}
.section5_box{
    width: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.section5_img{
    width: 100%;
    height: 291px;
    background: gray;
    border-radius: 10px;
}
.footer{
    background: var(--green);
    margin-top: 131px;
}
.footer_container{
    width: 100%;
    height: 383px;
    display: flex;
    align-items: center;
    gap: 34px;
}
.footer_box{
    display: flex;
    gap: 217px;
    /* margin-top: 70px; */
}
.logo_title2{
    width: 166px;
    height: 166px;
    color: white;
    font-size: 24px;
    font-family: "notoSans";
}
.company{
    width: 168px;
    height: 186px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.information{
    width: 183px;
    height: 217px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.mer_masin{
    width: 215px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer_title{
    font-family: "notoSans";
    font-size: 24px;
    color: var(--white);
    cursor: pointer;
}
.footer_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer_link{
    text-decoration: none;
    font-family: "notoSans";
    color: var(--white);
    font-size: 16px;
}
.footer_link:hover{
    color: var(--black);
    transition: .2s;
}

/**/
.section_mangal {
  width: 100%;
  height: 685px;
  margin-top: 88px;
  display: flex;
}
.mangal_img {
  width: 571px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mangal_img1 {
  width: 100%;
  height: 465px;
}
.mangali_imgg {
  background: gray;
  width: 100%;
  height: 100%;
}

.swiper_img {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: block;
}
/**/
.mangal_img2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
}

.mangali_anun {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anun_title5 {
  font-family: "notoSans";
  font-size: 22px;
  color: var(--black);
}

.anun_title2 {
  font-family: "notoSans";
  font-size: 36px;
  color: var(--black);
}

.fa-star-o {
  color: gold;
}

.anun_title3 {
  font-family: "notoSans";
  font-size: 25px;
  color: var(--black);
}

.anun_title3 span {
  font-family: "notoSans";
  font-size: 16px;
  color: gray;
  margin-left: 15px;
}

.mangal_btn {
  width: 100%;
  height: 58px;
  margin-top: 60px;
  display: flex;
  gap: 31px;
}

.qanak_btn {
  width: 169px;
  height: 58px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.qanak_text {
  font-family: "notoSans";
  font-size: 18px;
  color: var(--black);
  gap: 15px;
}

.fa-angle-left {
  margin-right: 15px;
}

.fa-angle-right {
  margin-left: 15px;
}

.kupit_btn {
  width: 370px;
  height: 58px;
  border-radius: 4px;
  background: var(--green);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "notoSans";
  font-size: 18px;
  cursor: pointer;
}

.mangali_masin {
  width: 568px;
  height: 404px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
}

.masin_text {
  font-family: "notoSans";
  font-size: 18px;
  color: var(--black);
}

.fa-heart-o {
  margin-right: 15px;
}

.fa-share-alt {
  margin-right: 15px;
}

.masin_title2 {
  font-family: "notoSans";
  font-size: 22px;
  color: var(--black);
  margin-top: 20px;
}

.masin_text2 {
  font-family: "notoSans";
  font-size: 22px;
  color: gray;
  margin-top: 20px;
}

.parametr_mangal {
  margin-top: 20px;
  width: 281px;
  height: 204px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.materyal {
  width: 300px;
  height: 28px;
  display: flex;
  justify-content: space-between;
}

.materyal_title {
  font-family: "notoSans";
  font-size: 18px;
  color: var(--black);
}

.chapser_text {
  font-family: "notoSans";
  font-size: 18px;
  color: #898989;
}

.section_mangal2 {
  width: 100%;
  height: 650px;
  margin-top: 100px;
}

.section_mangali2 {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-between;
}

.mangali2_title {
  font-family: "notoSans";
  font-size: 36px;
  color: var(--black);
}

.mangali2_fafa {
  width: 192px;
  height: 67px;
  display: flex;
  justify-content: space-between;
}

.section_mangali3 {
  width: 100%;
  height: 552px;
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.mangali3 {
  width: 379px;
  height: 552px;
}

.mangali3_img {
  width: 100%;
  height: 368px;
  background: gray;
  position: relative;
  cursor: pointer;
}

.skitka {
  position: absolute;
  width: calc(100% - 50px);
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.skitka_text {
  width: 79px;
  height: 40px;
  background: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.srt_fa {
  width: 32px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--green);
}
.srt_fa1 {
  width: 32px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--white);
}
.mangali3_parametr{
  width: 100%;
  height: 101px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.mangali3_parametr2{
  width: 215px;
  height: 101px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mangali3_text{
  font-family: "notoSans";
  font-size: 22px;
  color: #898989;
}
.mangali3_astx{
  width: 151px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.qaniHat_text{
  font-family: "notoSans";
  font-size: 14px;
  color: #D9D9D9;
}
.mangali3_gin{
  width: 90px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.mangali3Gin_text{
  font-family: "notoSans";
  font-size: 22px;
  color: #5C7287;
}
.mangali3Gin_text2{
  font-family: "mixed";
  font-size: 18px;
  color: #898989;
}
.mangali3_btn{
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--green);
  border-radius: 5px;
  margin-top: 5px;
  font-family: "notoSans";
  font-size: 18px;
  border: none;
  cursor: pointer;
}

/**/

.sectionTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
.sectionSartirovka{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.section_sartirovka{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.section_text{
    color: var(--green);
    font-family: "notoSans";
    font-size: 16px;
    cursor: pointer;
}
.section_text:hover{
    color: var(--black);
}
.fa-angle-down{
    color: var(--green);
}
.fa-angle-down:hover{
    color: var(--black);
}
.section_img{
    width: 100%;
    height: 291px;
    background: gray;
    border-radius: 10px;
    cursor: pointer;
}
.section_box1{
    width: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.section_box{
    width: 100%;
    height: 368px;
    display: flex;
    justify-content: space-between;
}
.section_box2{
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    /* cursor: pointer; */
}
.section_boxsis{
    width: 570px;
    height: 662px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.section_img_box{
    width: 100%;
    height: 584px;
    border-radius: 10px;
    background: gray;
    cursor: pointer;
}
.section_boxx{
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}
.section_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 57px;
    border: none;
}
.section_button{
    background: var(--green);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 134px;
    border-radius: 10px;
    border: none;
    font-style: "notoSans";
    font-size: 16px;
    cursor: pointer;
}
.section_button:hover{
    background: var(--black);
    color: var(--white);
    transition: .3s;
}


/* Contact*/
