*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "actor";
    src: url(../../Fonts/Actor-Regular.ttf);
}
@font-face{
    font-family: "notoSans";
    src: url(../../Fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: "RussoOne";
    src: url(../../Fonts/RussoOne-Regular.ttf);
}
@font-face{
    font-family: "inter";
    src: url(../../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html{
    scroll-behavior: smooth;
}
:root{
    --green:#266150;
    --black:#000000;
    --white:#FFFFFF;
}
.container{
    max-width: 1200px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}
.section_box{
    width: 100%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}
.box_title{
    font-family: "notoSans";
    font-size: 64px;
    color: var(--green);
}
.section_box2{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.box2_title{
    font-family: "notoSans";
    font-size: 32px;
    color: var(--green);
}
.box2_text{
    font-family: "notoSans";
    font-size: 20px;
    color: var(--green);
}
.section_box3{
    width: 100%;
    height: 44px;
    margin-top: 50px;
}
.box3_title{
    font-family: "notoSans";
    font-size: 32px;
    color: var(--green);
}
.section_box4{
    width: 570px;
    height: 290px;
    margin-top: 30px;
}
.box4_form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.box4_inp{
    width: 100%;
    height: 50px;
    border: 1px solid var(--green);
    border-radius: 5px;
    padding-left: 10px;
    font-family: "notoSans";
    font-size: 16px;
    color: var(--green);
}
.box4_textarea{
    width: 100%;
    height: 96px;
    border: 1px solid var(--green);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    font-family: "notoSans";
    font-size: 16px;
    color: var(--green);
}
.box4_btn{
    width: 100%;
    height: 50px;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    font-family: "notoSans";
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
}