*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: "actor";
    src: url(../../Fonts/Actor-Regular.ttf);
}
@font-face{
    font-family: "notoSans";
    src: url(../../Fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
@font-face{
    font-family: "RussoOne";
    src: url(../../Fonts/RussoOne-Regular.ttf);
}
@font-face{
    font-family: "inter";
    src: url(../../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

html{
    scroll-behavior: smooth;
}
:root{
    --green:#266150;
    --black:#000000;
    --white:#FFFFFF;
}
.container{
    max-width: 1200px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}
.section_box{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.box_title{
    font-family: "notoSans";
    font-size: 64px;
    color: var(--green);
}
.section_box5{
    width: 100%;
    height: 400px;
    margin-top: 86px;
}
.box5_title{
    width: 100%;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_box5{
    font-family: "inter";
    font-size: 32px;
    color: var(--green);
}
.box5_box{
    width: 100%;
    height: 360px;
}
.box5_1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.box6_2{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.box5_box1{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    justify-content: space-between;
}
.box5_box1_img{
    width: 95px;
    height: 88px;
    background-image: url(../../img_kak/Group.png);
    background-position: center;
    background-repeat: no-repeat;
}
.box5_text{
    font-family: "inter";
    font-size: 14px;
    color: var(--green);
    display: flex;
    text-align: center;
}
.box5_box2{
    width: 81px;
    height: 73px;
    margin-top: 35px;
}
.box5_box2_img{
    width: 100%;
    height: 100%;
    background-image: url(../../img_kak/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
}
.box5_box3{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    justify-content: space-between;
}
.box5_box3_img{
    width: 110px;
    height: 98px;
    background-image: url(../../img_kak/delivery-truck-truck_svgrepo.com.png);
    background-position: center;
    background-repeat: no-repeat;
}
.box5_box4{
    width: 81px;
    height: 73px;
    margin-top: 35px;
}
.box5_box4_img{
    width: 100%;
    height: 100%;
    background-image: url(../../img_kak/Vector.png);
    background-position: center;
    background-repeat: no-repeat;
}
.box5_box5{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    justify-content: space-between;
}
.box5_box5_img{
    width: 80px;
    height: 73px;
    background-image: url(../../img_kak/package-delivery_svgrepo.com.png);
    background-position: center;
    background-repeat: no-repeat;
}

.box6_box1{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    justify-content: space-between;
    align-items: center;
}
.box5_box1_img1{
    width: 82px;
    height: 74px;
    background-image: url(../../img_kak/Group\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
}
.box6_box3{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    justify-content: space-between;
    align-items: center;
}
.box5_box3_img3{
    width: 95px;
    height: 85px;
    background-image: url(../../img_kak/payment-method-cash_svgrepo.com.png);
    background-position: center;
    background-repeat: no-repeat;
}
.box6_box5{
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    justify-content: space-between;
    align-items: center;
}
.box5_box5_img5{
    width: 85px;
    height: 75px;
    background-image: url(../../img_kak/Layer\ 8.png);
    background-position: center;
    background-repeat: no-repeat;
}